{% extends 'template.html' %}
{% load static %}

{% block title %}
	Автобиография
{% endblock title %}


{% block container %}
<body>
<div>
	<img src="{% static '/imgs/imgonline-com-ua-Resize-xuY2Y2O8Qb5pa.jpg' %}" alt="" align="left" width="400"
		 height="400" style="margin-left: 100px"/>
	<br><br>
	<big style="margin-top: 120px; margin-left: 230px;">Авраменко Михаил Александрович (Михалыч) </big>
	<br>
	<p style="margin-right: 300px; margin-left: 600px; line-height: 30px">
		Родился 7 мая 2003 года в городе Самара в Самарской области
		Рос в полноценной семье, отец Авраменко Александр, мать Авраменко Мария (Сошественская), Ксения Авраменко
		(младшая
		сестра)
	</p>
</div>
<div style="padding-top: 300px">
	<img src="{% static '/imgs/imgonline-com-ua-Resize-ZP59sT5MYET.jpg' %}" alt="" align="left" width="450"
		 height="550" style="margin-left: 100px"/>
	<br><br>
	<br>
	<p style="margin-right: 300px; margin-left: 600px; line-height: 30px">
		  В 16 лет серьезно задумался по поводу своего будущего, ведь я понял, что я был рожден для политической жизни в целом , вы спросите меня, что же я сделал? Вы правильно поняли, ничего, но все серьёзные дела оставил на близ лежащее будущее, поэтому вы меня еще увидите на тв , газетах и тд. Из всего этого выходит, что ссорится или оставаться со мной в плохих отношениях будет чревато для вас. Сами видите какой тут важный бумажный стою, мое лицо целиком и полностью внушает доверие людям. Так сказать В ТУФЛЯХ, С ПАКЕТОМ, КАК НА ВЫБОРЫ
	</p>
</div>
<div style="padding-top: 400px">
	<img src="{% static '/imgs/imgonline-com-ua-Resize-rUS3wnx8McSffoTt.jpg' %}" alt="" align="left" width="450"
		 height="550" style="margin-left: 100px"/>
	<br><br>
	<br>
	<p style="margin-right: 300px; margin-left: 600px; line-height: 30px">Живу на данный момент вот с таким маленьким чудом, подаренным моей сестре 11 лет назад, но тогда это была ее детская хотелка и поэтому все обязательство по поводу собаки упали мне на плечи и с тех пор полноценным хозяином для собаки стал я, признаться честно, я бы не смог представить свое детство , да и впринципе жизнь без своей собаки, потому что собака это то существо , которое готово любить тебя безвозмездно, радоваться когда ты просто пришел домой.
	</p>
</div>
<div style="padding-top: 400px">
	<img src="{% static '/imgs/imgonline-com-ua-Resize-jAMTDisU2of7.jpg' %}" alt="" align="left" width="450"
		 height="550" style="margin-left: 100px"/>
	<br><br>
	<br>
	<p style="margin-right: 300px; margin-left: 600px; line-height: 30px">
		Я считаю, что этого достаточно, итак уже много чего тут смешного и забавного вам написал , поэтому все эти высказывания хотелось бы подытожить какой-нибудь забавной своей фоткой с братвой и пафосной цитатой (все-таки на выборы надо будет идти в ближайшие лет 10)
	</p>
	<br><br><br><br><br>
	<p style="margin-right: 300px; margin-left: 600px; line-height: 30px; padding-top: 200px">- Изредка правда бывает чистой, а вот простой - никогда</p>
	<p style="margin-right: 300px; margin-left: 600px; line-height: 30px">Оскар Уайлд</p>
</div>

</body>
{% endblock container %}