{% extends 'template.html' %}
{% load static %}

{% block title %}
	Контакты
{% endblock title %}


{% block container %}
<body>
<ul>
     <li style="margin-left: 50px; margin-top: 35px"><a href="https://www.twitch.tv/cpemok">https://www.twitch.tv/cpemok</a></li>
        <p style="margin-right: 800px;">Twitch (ну тут пока ничего ещё не идёт, но в ближайшем будущем ожидайте тут)))</p>
     <li style="margin-left: 50px; margin-top: 35px"><a href="https://vk.com/misha_top4">https://vk.com/misha_top4</a></li>
        <p style="margin-right: 800px;">Вк (это так, чисто для кайфов)</p>
     <li style="margin-left: 50px; margin-top: 35px">misha_top4</li>
        <p style="margin-right: 800px;"> Instagram* (стало лень искать ссылку на инсту , потому что вообще-то запрещённая сеть, оставлю просто
    никнейм, есть парочку непристойных выражений там, поэтому решать вам , но не осуждать уж точно)</p>
     <li style="margin-left: 50px; margin-top: 35px"><a href="https://web.telegram.org/k/#@misha_top4">@misha_top4</a></li>
        <p style="margin-right: 800px;">Телеграмм</p>
     <li style="margin-left: 50px; margin-top: 35px">reklamacremok@gmail.com</li>
        <p style="margin-right: 800px;">Почта для сотрудничества (кто готов заранее спонсировать мои стримы не за просто так,
    прошу писать сюда)</p>
     <li style="margin-left: 50px; margin-top: 35px"><a href="https://steamcommunity.com/profiles/76561198262711469/">https://steamcommunity.com/profiles/76561198262711469/</a></li>
        <p style="margin-right: 800px;">Steam (если ты не рак и есть желание покатать в кс, то добавляйся)</p>
     <li style="margin-left: 50px; margin-top: 35px">cpemoK#7230</li>
        <p style="margin-right: 800px; padding-bottom: 300px">Discord</p>
   </ul>
</body>
{% endblock container %}
