{% extends 'template.html' %}
{% load static %}

{% block title %}
	Навыки
{% endblock title %}
{% block container %}
<body>
<ul>
	<li style="margin-left: 400px; margin-top: 35px; margin-right: 400px; line-height: 25px">Как говорится сам себя не похвалишь, никто не
		похвалит, поэтому я начну со своих сильных сторон, а про слабые даже начинать не буду, потому как понимаю, если
		я начну тут все расписывать то на это все уйдет уйму времени, что мне не хотелось бы если честно.
	</li>
	<li style="margin-left: 400px; margin-top: 35px; margin-right: 400px; line-height: 25px">Первое и одно из основных с чего я начну это КРАСНОРЕЧИЕ. Если вы не заходили в Блог о себе , то советую ознакомиться сначала с ним. Как я уже там говорил, я внушаю доверие людям, умею договариваться с теми, с кем это сделать сложно или вообще нереально, но при этом все будет выглядит и звучать довольно адекватно и без какого-либо нытья, могу заинтересовать человека даже, если та или иная тема казалось ему полной ахинеей, могу выбраться из большинства ситуаций не имея каких-либо значимых аргументов, но преподнести их так, что человек будет думать, что да, а этот человек прав.</li>
	<li style="margin-left: 400px; margin-top: 35px; margin-right: 400px; line-height: 25px">Второе и наверное не мало важное качество, которое я заметил в себе , так это УПОРСТВО И ЗАИНТЕРЕСОВАННОСТЬ, что я не боюсь браться за те или иные дела в которых у меня не было ни капельки опыта, потому что если мне покажется это интересным , то мне будет проще допускать ошибки и учиться на них, чем бросить на середине дела и сказать, зачем я вообще все это начал? или вовсе не начинать этим заниматься. Но даже если я не люблю что-то делать, но понимаю, что мне это нужно, я пересиливаю самого себя(а это я считаю самое сложное в каждом из людей), беру и делаю.</li>
	<li style="margin-left: 400px; margin-top: 35px; margin-right: 400px; line-height: 25px; padding-bottom: 300px">Я считаю, что данной информации вам более чем достаточно, изначально я думал, что это будет легко , оценивать себя, но когда я начал писать и трезов оценивать себя и свои возможности, то понял, что кроме этих качеств , что я указал выше, могут оценить только мои друзья и знакомые, которые видят меня со стороны.</li>
</ul>
</body>
{% endblock container %}
